{% extends "base.html" %}

{% block title %}
  Mavenize | One Last Step!
{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div id="main" class="span12">
      <section id="title-header">
        <h1 id="title">{{ request.user.first_name }}, welcome to Mavenize!</h1>
        <h4 class="sub-header">Just a few more things to get you started.</h4>
      </section>
      <section id="mavens-container" class="module-container">
        <h3 class="heading">Find mavens you can trust.</h3>
        <ul class="users">
        </ul>
        <button class="btn btn-large btn-success" id="btn-previous">Previous</button>
        <button class="btn btn-large btn-success" id="btn-next">Next</button>
        <div style="clear: both;"></div>
      </section>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/loadUsers.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/signup.js"></script>
{% endblock %}
