/*********
  STYLES
*********/

#mavens-container {
  background: @formFill;
  margin: 10px 0;
  .RoundedCorners(5px);
}

#about-form {
  background: @formFill;
  margin: 15px 0;
  padding: 10px;
  .RoundedCorners(5px);

  #about-label {
    font-size: 32px;
    font-weight: bold;
    margin: 10px;
  }

  #about-text {
    margin: 10px;
    padding: 13px;
    width: 70%;
  }

  #about-submit {
    font-size: 24px;
    height: 60px;
    margin: 10px;
    width: 180px;
  }
}
