{% extends "base.html" %}

{% block title %}
  Mavenize | One Last Step!
{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div id="main" class="span12">
      <section id="title-header">
        <h1 id="title">{{ request.user.first_name }}, welcome to Mavenize!</h1>
        <h4 class="sub-header">Just a few more things to get you started.</h4>
      </section>
      <section id="mavens-container" class="module-container">
        <h3 class="heading">Start by choosing mavens to follow!
          <p class="subheading">We recommend starting with at least three.</p>
        </h3>
        <ul class="users">
        </ul>
        <button class="btn btn-large btn-success" id="btn-previous">Previous</button>
        <button class="btn btn-large btn-success" id="btn-next">Next</button>
        <div style="clear: both;"></div>
      </section>
      <section id="about-form">
        <form action="/signup/complete" method="POST">
        {% csrf_token %}
          <fieldset>
          <div class="control-group">
            <label id="about-label" class="control-label" for="about-text">Last but not least, tell us a little about yourself!</label>
            <div class="controls">
              <textarea id="about-text" placeholder="Ex: Skydiver enthusiast, mountaineer, and catlover." rows="1" name="text"></textarea>
              <button class="btn btn-large btn-primary" id="about-submit" type="submit">Finish Up!</button>
            </div>
          </div>
          </fieldset>
        </form>
      </section>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
  {% load compress %}
  {% compress js %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/loadUsers.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/signup.js"></script>
  {% endcompress %}
{% endblock %}
