{% load announcetags %}
{% load compress %}
<!DOCTYPE html>

<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="google-site-verification" content="iG0vt0xhdbmirkDZCs8LXQZdmmxwxvvhllOpNAMBMAA" />

  <title>{% block title %}{% endblock %}</title>

  {% compress css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/vendor/didactGothic.css" type="text/css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/vendor/openSans.css" type="text/css" />
  {% endcompress %}
  {% compress css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/global.less" type="text/less" media="screen" />
  {% endcompress %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/google-analytics.js"></script>
</head>
<body>

  <header>
    {% include "header.html" %}
  </header>

  <div id="body">
    {% block body %}{% endblock %}
  </div>
  <section id="modals">
    <div class="modal hide fade" id="disagree"></div>
    <div class="modal hide fade" id="thank"></div>
    <div class="modal hide fade" id="edit"></div>
    <div class="modal hide fade" id="bookmarks"></div>
  </section>

  <footer>
    {% include "footer.html" %}
  </footer>

  <script type="text/javascript">
    var STATIC_URL = "{{ STATIC_URL }}";
    var CSRF_FIELD = "{% csrf_token %}";
    var CSRF_TOKEN = "{{ csrf_token }}";
    var USER_ID = {% if user.id %}{{ user.id }}{% else %}''{% endif %};
  </script>

  <script type="text/javascript" charset="utf-8">
    var is_ssl = ("https:" == document.location.protocol);
    var asset_host = is_ssl ? "https://d3rdqalhjaisuu.cloudfront.net/" : "http://d3rdqalhjaisuu.cloudfront.net/";
    document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript" charset="utf-8">
    var feedback_widget_options = {};

    feedback_widget_options.display = "overlay";  
    feedback_widget_options.company = "mavenize";
    feedback_widget_options.placement = "left";
    feedback_widget_options.color = "#FF6600";

    var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
  </script>

  {% announce_js %}

  {% compress js %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/underscore.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/less.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/notifications.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/bookmarks.js"></script>
  {% endcompress %}

  {% compress js %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/loadMovies.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/loadActivities.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/loadBookmarks.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/loadNotifications.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/loadUsers.js"></script>
  {% endcompress %}

  {% block js %}{% endblock %}
</body>
</html>
